In [1]:
# pascalvoc_2007.py

TRAIN_STATISTICS_2007 = {
    'none': (0, 0),
    'aeroplane': (238, 306),
    'bicycle': (243, 353),
    'bird': (330, 486),
    'boat': (181, 290),
    'bottle': (244, 505),
    'bus': (186, 229),
    'car': (713, 1250),
    'cat': (337, 376),
    'chair': (445, 798),
    'cow': (141, 259),
    'diningtable': (200, 215),
    'dog': (421, 510),
    'horse': (287, 362),
    'motorbike': (245, 339),
    'person': (2008, 4690),
    'pottedplant': (245, 514),
    'sheep': (96, 257),
    'sofa': (229, 248),
    'train': (261, 297),
    'tvmonitor': (256, 324),
    'total': (5011, 12608),
}


TRAIN_STATISTICS_2012 = {
    'none': (0, 0),
    'aeroplane': (670, 865),
    'bicycle': (552, 711),
    'bird': (765, 1119),
    'boat': (508, 850),
    'bottle': (706, 1259),
    'bus': (421, 593),
    'car': (1161, 2017),
    'cat': (1080, 1217),
    'chair': (1119, 2354),
    'cow': (303, 588),
    'diningtable': (538, 609),
    'dog': (1286, 1515),
    'horse': (482, 710),
    'motorbike': (526, 713),
    'person': (4087, 8566),
    'pottedplant': (527, 973),
    'sheep': (325, 813),
    'sofa': (507, 566),
    'train': (544, 628),
    'tvmonitor': (575, 784),
    'total': (11540, 27450),
}

In [2]:
5011 + 17125

22136

In [12]:
total = 0
for key in TRAIN_STATISTICS_2007:
    if key != 'total':
#         print(TRAIN_STATISTICS_2012[key][0])
        total += TRAIN_STATISTICS_2007[key][0]
print(total)

7306

In [13]:
total = 0
for key in TRAIN_STATISTICS_2012:
    if key != 'total':
#         print(TRAIN_STATISTICS_2012[key][0])
        total += TRAIN_STATISTICS_2012[key][0]
print(total)

16682

In [14]:
new_statistics = {}
for key in TRAIN_STATISTICS_2007:
    new_statistics[key] = (TRAIN_STATISTICS_2007[key][0] + TRAIN_STATISTICS_2012[key][0], TRAIN_STATISTICS_2007[key][1] + TRAIN_STATISTICS_2012[key][1])

In [15]:
new_statistics

{'aeroplane': (908, 1171),
 'bicycle': (795, 1064),
 'bird': (1095, 1605),
 'boat': (689, 1140),
 'bottle': (950, 1764),
 'bus': (607, 822),
 'car': (1874, 3267),
 'cat': (1417, 1593),
 'chair': (1564, 3152),
 'cow': (444, 847),
 'diningtable': (738, 824),
 'dog': (1707, 2025),
 'horse': (769, 1072),
 'motorbike': (771, 1052),
 'none': (0, 0),
 'person': (6095, 13256),
 'pottedplant': (772, 1487),
 'sheep': (421, 1070),
 'sofa': (736, 814),
 'total': (16551, 40058),
 'train': (805, 925),
 'tvmonitor': (831, 1108)}